@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .make-gray {
        background: #f5f5f5;
    }

    .make-gray img {
        mix-blend-mode: multiply;
        /* white × gray → gray */
        display: block;
    }
}